<p>Diego &amp; Sonia, Abadiania infos : <a href="http://www.abadianiaportal.com" target="_blank">www.abadianiaportal.com</a></p>
<p>Deb Court, Abadiania infos : <a href="http://www.friendsofthecasa.info" target="_blank">www.friendsofthecasa.info</a></p>
<p>Barbara Brodsky, Casa guide : <a href="http://www.vipassanahealing.com/" target="_blank">www.vipassanahealing.com</a></p>
<p>Deb Court, Casa guide : <a href="http://www.guidetojohnofgod.com" target="_blank">www.guidetojohnofgod.com</a></p>
<p>Amy and Markus Koch — Guides for John of God : <a href="http://www.guidesforjohnofgod.com/" target="_blank">www.guidesforjohnofgod.com</a></p>
<p>Hayette Weidmann, Casa guide : <a href="http://pontsdelumiere.com" target="_blank">pontsdelumiere.com</a></p>
<p>Pavel Antonov, Photographe : <a href="http://www.pavelantonov.com" target="_blank">www.pavelantonov.com</a></p>
<p>Dominique Guillaume, Photographe : <a href="http://www.phototheque-bretagne.com/" target="_blank">www.phototheque-bretagne.com/</a></p>